<div class="dashboard-container">
  <h1>{{ title }}</h1>
  
  <div class="users-section">
    <h2>Users</h2>
    <div *ngIf="isLoading">Loading users...</div>
<div *ngIf="errorMessage">{{ errorMessage }}</div>
<div class="dashboard" *ngIf="!isLoading && users.length">
  <div 
    class="user-card" 
    *ngFor="let user of users; let i = index" 
    (click)="viewUserDetails(i.toString())"
  >
    <img [src]="user.picture.medium" alt="{{ user.name.first }}" />
    <h3>{{ user.name.first }} {{ user.name.last }}</h3>
    <p>{{ user.email }}</p>
  </div>
</div>

  </div>
</div>
